services:
  backend:
    build: 
      context: .
    container_name: nestjs_backend
    ports:
      - 8090:8090
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy  # ✅ Ensure DB is ready before starting backend
    networks:
      - db  # ✅ Add backend to the same network

  db:
    container_name: postgres
    image: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "5321:5432"
    networks:
      - db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d ats" ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "4050:80"   # Access pgAdmin in browser at http://localhost:8080
    networks:
      - db
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin


networks:
  db:
    driver: bridge

volumes:
  db:
  pgadmin_data:
